<h3>Blade</h3>

@code {

}
<blade-host class="blade-host-element">
    <blade-stack id="stack1" class="blade-stack-element">
        <blade-blade id="blade1" class="blade-blade-element">
            <header>
                <div id="icon">🧪</div>
                <h2 id="title">XYZ</h2>
                <small id="sub-title">Default Directory</small>
                <button id="close">X</button>
            </header>
            <div class="blade-command-bar-element">
                <button slot="blade-buttons" onclick="document.getElementById('blade1').setAttribute('title', 'xyz');">➕ Add</button>
            </div>
            <div id="content">
                <slot>
                    Hello World
                </slot>
            </div>
        </blade-blade>


        <blade-blade id="blade2" class="blade-blade-element">
            <header>
                <div id="icon">🎚</div>
                <h2 id="title">Settings</h2>
                <small id="sub-title">Overview</small>
                <button id="close">X</button>
            </header>
            <div class="blade-command-bar-element">
                <slotted>
                    <button slot="blade-buttons" onclick="document.getElementById('title').setAttribute('title', 'blub');">➕ Change Title</button>
                </slotted>
            </div>
            <div id="content">
                Hello World
            </div>
        </blade-blade>
        <blade-blade class="blade-blade-element" id="blade3" title="Settings" sub-title="Overview" icon="🎚">
            <header>
                <div id="icon">🧪</div>
                <h2 id="title">Visual Studio Premium with MSDN</h2>
                <small id="sub-title">Subscriptions</small>
                <button id="close">X</button>
            </header>
            <div id="content">
                <h2>asdf X</h2>
                <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
            </div>
        </blade-blade>
        <blade-blade class="blade-blade-element" title="Visual Studio Premium with MSDN" sub-title="Subscriptions" id="blade4" style="min-width:400px">
            <header>
                <div id="icon">🧪</div>
                <h2 id="title">Visual Studio Premium with MSDN</h2>
                <small id="sub-title">Subscriptions</small>
                <button id="close">X</button>
            </header>
            <div class="blade-command-bar-element">
                <button slot="blade-buttons" onclick="parentElement.close()">👍 Go Away</button>
            </div>
            <div id="content">
                Hello World 2
            </div>
        </blade-blade>
    </blade-stack>
</blade-host>
