@page "/BladeDemo"
<h3>BladeDemo</h3>
<br/>
<div style="position:relative;height:100%;flex-grow: 100">
    <BladeContainer BladeInfos="@Bladeinfos">
    </BladeContainer>
</div>


@code  {
    List<BladeInfo> Bladeinfos;

    protected override void OnInitialized()
    {
        Bladeinfos = GetBlades();
    }

    public List<BladeInfo> GetBlades()
    {
        List<BladeInfo> blades = new List<BladeInfo>();
        blades.Add(new BladeInfo
        {
            Id = "blade1",
            Title = "this Is My Title",
            SubTitle = "this is the sub-title",
            HeaderButtons = HeaderButtons.Close,
            Icon = "🧪",
            IconPath = string.Empty,
            SaveButtonPath = string.Empty

        });

        return blades;
    }
}